// Root style file for site.

@black0 : rgb(24, 9, 27);
@black1 : rgb(34, 19, 37);
@black2 : rgb(44, 29, 47);
@black3 : rgb(54, 39, 57);
@black4 : rgb(64, 49, 67);

@white0: rgb(255, 255, 255);

@navbar-height     : 6vh;
@footer-height     : 4vh;
@min-content-height: 100vh - @footer-height - @navbar-height;

html {
  font-family: 'Fira Sans';
  color      : @white0;
}

body {
  margin          : 0 0;
  // Aesthetics
  background-color: @black0;
}


.bar {
  // Styling
  background-color: @black1;
  // Display as horizontal bar
  display         : flex;
  margin          : 0 0;
  width           : 100%;
  // Remove padding
  top             : 0;
  left            : 0;
  right           : 0;
}

.ui-butt {
  width          : 100%;
  height         : @navbar-height;
  align-items    : center;
  justify-content: center;

  display   : flex;
  border    : none;
  background: none;
  color     : @white0;
}

footer {
  .bar;

  height: @footer-height;

  p {
    margin: 0 0;
  }

}

nav {
  .bar;
  height: @navbar-height;

  // Render on top in fixed position
  position: fixed;
  z-index : 100;

  .logo {
    display   : flex;
    overflow  : hidden;
    object-fit: contain;

    margin: 0 10px;

    max-width : 100%;
    max-height: 24pt;

  }

  .title {
    font-size  : large;
    color      : @white0;
    // Stop text from wrapping
    white-space: nowrap;
  }

  // Horizontal list items
  ul {
    display: flex;
    width  : 100%;
    padding: 0 0;
    margin : 0 0;
  }

  li {
    display: flex;
    width  : 100%;
    height : @navbar-height;
  }

  button {
    .ui-butt;
  }

  button:hover {
    background-color: @black2;
  }

  button:focus {
    background-color: @black3;
  }

  button:active {
    background-color: @black4;
  }


  .logo-button {
    font-size   : larger;
    justify-self: flex-start;
  }

  .nav-button {
    font-size: large;
  }
}

main {
  padding-top: @navbar-height;

  min-height: @min-content-height;
}
